<footer id="main-footer">
    <ul>
        <li><a href="#" class="social linkedin">LinkedIn</a></li>
        <li><a href="#" class="social github">Github</a></li>
    </ul>
    <p class="copyright">Copyright <span id="year"></span>, John Smith</p>
</footer>