<main id="contact">
    <h1 class="big-heading">
        Contact
        <span class="text-blue">me</span>
    </h1>

    <div class="boxes">
        <div><span class="text-blue">Email:</span> john@doe.com</div>
        <div><span class="text-blue">Phone:</span> 222-222-2222</div>
        <div>
            <span class="text-blue">Address: </span> Unknown str. Helsinki
        </div>
    </div>
</main>